body{
    background-color: tomato;
    text-align: center;
}
button,img{
    background: none;
    border: none;
    opacity: 0.7;
    height: 70px;
    width: 70px;
    padding: none;
    margin: none;
    outline: none;
}
button:hover{
    opacity: 1;
}
#reset , #btnreset,#sound,#btnsound{
    height: 40px;
    width: 40px;
}
#sound{
    position: absolute;
    left:10px;
    top: 10px;
}
h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    text-align: center;
    padding: 10px;
}